*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
button{
    background-color: red;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    position: fixed;
    left: 10px;
    bottom: 0;
    border-radius: 10px 10px 0 0;
}
.container{
    background-color: red;
    height: 500px;
    width: 400px;
    margin: 10px auto;
    position: relative;
}
.item{
    width: 100px;
    height: 100px;
    transition-duration: 1s;
}
.item:nth-child(1){
    background-color: blue;
}
.item:nth-child(2){
    background-color: blueviolet;
}
.item:hover{
    background-color: black;
    width: 200px;
    font-size: 30px;
    color: #fff;
}
.menu{
    background-color: aqua;
    height: 20px;
    position: sticky;
    top: 0;
}